<div class="d-flex w-100 justify-content-between">
  <div>
    <small>Martin Lopez</small>
    <h6 class="mb-1 color-primary">
      {{{ratingToStars 4}}}
      Excelentes clases
    </h6>
  </div>
  <small>Hace 3 días</small>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus nisi vel sodales vestibulum. Quisque sit amet dolor gravida, eleifend nunc nec, fringilla libero.</p>
<p>
  <span class="badge rounded-pill bg-light text-dark">Economía</span>
</p>
<small>
  <button type="button" class="btn btn-light">
    <i class="bi bi-hand-thumbs-up-fill"></i>
  </button>
  12
  <button type="button" class="btn btn-light">
    <i class="bi bi-hand-thumbs-down-fill"></i>
  </button>
</small>