<h1>Explorar</h1>
<div class="input-group mb-3">
  <span class="input-group-text">
      <i class="bi bi-search"></i>
  </span>
  <input tabindex="1" type="text" class="form-control" placeholder="Buscar universidad" aria-label="Buscar universidad">
</div>

{{> universitiesGrid}}