<div class="uni-bg" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Panor%C3%A1mica_entrada_Universidad_Francisco_Marroqu%C3%ADn.jpg/1920px-Panor%C3%A1mica_entrada_Universidad_Francisco_Marroqu%C3%ADn.jpg');">  
  <a class="btn-action d-md-none" href="#profesores" onclick="removeClass('select-message', 'hidden');">
    <span>
      <i class="bi bi-plus-lg"></i>
    </span>
  </a>

  <h1 class="uni-title">Universidad Francisco Marroquin</h1>
  <p class="uni-text">
    {{{ratingToStars 4.2}}}    
  </p>
  <p class="uni-text">130 calificaciones</p>
  <p class="uni-text">"Nuestra misión es la enseñanza y difusión de los principios éticos, jurídicos y económicos de una sociedad de personas libres y responsables."</p>
  <a onclick="removeClass('select-message', 'hidden');" class="btn btn-outline-light d-none d-md-inline" role="button" href="#profesores">
    Calificar
  </a>
</div>

<div class="p-3" id="profesores">
  <div class="input-group mb-3">
    <span class="input-group-text">
        <i class="bi bi-search"></i>
    </span>
    <input type="text" class="form-control" placeholder="Buscar catedratico" aria-label="Buscar catedratico">    
  </div>

  <div id="select-message" class="transition-1s hidden">Seleccionar un catedratico para calificar</div>
  
  {{> professorsList}}
</div>