:root {
    --color-secondary: #F5F7FA;
    --bs-primary: #713E5A;
    --bs-secondary: #51B1A6;
    --color-accent: #713E5A;
    --color-accent-light: rgba(113, 62, 90, 0.25);
    --color-primary: rgb(211, 208, 208);
    --border-radius: 16px;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.bg-secondary {
    background-color: var(--bs-secondary) !important;
}

.color-primary {
    color: var(--bs-primary) !important;
}

body {
    font-family: 'Nunito', sans-serif;
}

.content {
    padding: 15px;
    padding-top: 0;
    width: 800px;
    margin: 0 auto;
}

.form-control, .input-group-text {
    background-color: var(--color-secondary);
    border: none;
    padding: .5rem 0.75rem;
}

.form-control:focus, .input-group-text:focus {
    box-shadow: 0 0 0 .25rem var(--color-accent-light);
}

.input-group input {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.input-group .input-group-text {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    color: var(--bs-dark);
}

.card {
    border-radius: var(--border-radius);
    transition: .2s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.card:hover, .card:focus {
    box-shadow: 0 0 0 .25rem var(--color-accent-light);
}

.card:active {
    transform: scale(.98);
}

.card-img-top {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 300;
}

.card-title {
    font-weight: 300;
}

.rating-text {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-accent);
}

.rate {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    margin: 20px;
}

.rate .stars {
    letter-spacing: -7px;
    font-size: 1.5rem;
}

.bi-star-fill, .bi-star {
    margin: 0 3px;
}

.select-star {
    margin: 0 0;
    padding: 0 9px;
    cursor: pointer;
}

.select-star.bi-star {
    color: #C4C4C4;
}

.select-star.bi-star-fill {
    color: var(--color-accent);
}

.heading-bg {
    background-repeat: no-repeat;
    background-position: 50% 90%;
    min-height: 30vh;
    border-bottom-right-radius: 36px;
    border-bottom-left-radius: 36px;
    padding: 50px;
    color: white;
    position: relative;
}

.uni-body {
    z-index: 1;
}

.heading-title {
    font-size: 48px;
    font-weight: 700;
}

.heading-text {
    margin: .5em;
}

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
    }
    .heading-title {
        font-size: 1.75rem;
    }
}

.list-star {
    color: var(--color-accent)
}

.btn {
    border-radius: var(--border-radius);
}

.btn-action {
    display:flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    background-color: var(--color-primary);
    right: 50px;
    top: 50px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    color: black;
}

.btn-action:hover {
    opacity: .8;
    color: black;
}

.btn-action:active {
    transform: scale(.98);
    opacity: .7;
    color: black;
}

.transition-2ms {
    transition: .2s ease-in-out;
}

.transition-1s {
    transition: 1s ease-in-out;
}

.transition-2s {
    transition: 2s ease-in-out;
}

#select-message {
    height: 1.5em;
    color: var(--bs-body-color);
    font-weight: 300;
}

.hidden {
    height: 0px !important;
    color: rgba(0, 0, 0, 0);
}
